<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
</head>
<body>
    <div>
        <h3>Tittle</h3>
        <p>{{job.title}}</p>
    </div>
    <div>
        <h3>Location</h3>
        <p>{{job.location}}</p>
    </div>
    <div>
        <h3>Salary</h3>
        <p>{{job.salary}} {{job.currency}} per annum</p>
    </div>
    <div>
        <h3>Responsibilities</h3>
        <p>{{job.responsibilities}}</p>
    </div>
    <div>
        <h3>Requirements</h3>
        <p>{{job.requirements}}</p>
    </div>
</body>
</html>