<div class=" m-4 p-2 border-bottom border-dark-subtle row">
    <div class="col-11">
        <h4>
            {{job['title']}}
        </h4>
        <div>
            <b>JobLocation</b> : {{job['location']}}
        </div>
        <div>
            <b>Salary</b> : {{job['salary']}} {{job['currency']}}
        </div>
    </div>
    <div class="col-1">
        <a href="https://i.4cdn.org/a/1764506420978107.jpg" target="_blank" type="button" class="btn btn-outline-primary">Apply</a>
    </div>
</div>